{% extends "base.html" %}
{% block content %}
<div class="jaya">
    <img src="{{url_for('static',filename='Contact.jpg')}}">
    <div class="arjun">
        <h1> great way to evaluate your current fitness level, including measurements that help determine your physical fitness.</h1>
        <p>CONTACT NOW</p>
        <h3>ASK US
            ANYTHING</h3>
        <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups</p>
    </div>
    <div class="arju">
        <h6><i class="ri-phone-line"></i> Contacts numder :</h6><br>
        <h5>+91-6305283628</h5><br>
        <h6><i class="ri-mail-line"></i> Email :</h6><br>
        <h5>anandasaisatya@gmail.com</h5>
    </div>
</div>
{% endblock content %} 
